:root {
    --md-sys-palette-error-0: #000;
    --md-sys-palette-error-10: #410e0b;
    --md-sys-palette-error-20: #601410;
    --md-sys-palette-error-30: #8c1d18;
    --md-sys-palette-error-40: #b3261e;
    --md-sys-palette-error-50: #dc362e;
    --md-sys-palette-error-60: #e46962;
    --md-sys-palette-error-70: #ec928e;
    --md-sys-palette-error-80: #f2b8b5;
    --md-sys-palette-error-90: #f9dedc;
    --md-sys-palette-error-95: #fceeee;
    --md-sys-palette-error-99: #fffbf9;
    --md-sys-palette-error-100: #fff;
    --md-sys-palette-neutral-variant-0: #000;
    --md-sys-palette-neutral-variant-10: #1d1a22;
    --md-sys-palette-neutral-variant-20: #322f37;
    --md-sys-palette-neutral-variant-30: #49454f;
    --md-sys-palette-neutral-variant-40: #605d66;
    --md-sys-palette-neutral-variant-50: #79747e;
    --md-sys-palette-neutral-variant-60: #938f99;
    --md-sys-palette-neutral-variant-70: #aea9b4;
    --md-sys-palette-neutral-variant-80: #cac4d0;
    --md-sys-palette-neutral-variant-90: #e7e0ec;
    --md-sys-palette-neutral-variant-95: #f5eefa;
    --md-sys-palette-neutral-variant-99: #fffbfe;
    --md-sys-palette-neutral-variant-100: #fff;
    --md-sys-palette-neutral-0: #000;
    --md-sys-palette-neutral-4: #0f0d13;
    --md-sys-palette-neutral-6: #141218;
    --md-sys-palette-neutral-10: #1d1b20;
    --md-sys-palette-neutral-12: #211f26;
    --md-sys-palette-neutral-17: #2b2930;
    --md-sys-palette-neutral-20: #322f35;
    --md-sys-palette-neutral-22: #36343b;
    --md-sys-palette-neutral-24: #3b383e;
    --md-sys-palette-neutral-30: #48464c;
    --md-sys-palette-neutral-40: #605d64;
    --md-sys-palette-neutral-50: #79767d;
    --md-sys-palette-neutral-60: #938f96;
    --md-sys-palette-neutral-70: #aea9b1;
    --md-sys-palette-neutral-80: #cac5cd;
    --md-sys-palette-neutral-87: #ded8e1;
    --md-sys-palette-neutral-90: #e6e0e9;
    --md-sys-palette-neutral-92: #ece6f0;
    --md-sys-palette-neutral-94: #f3edf7;
    --md-sys-palette-neutral-95: #f5eff7;
    --md-sys-palette-neutral-96: #f7f2fa;
    --md-sys-palette-neutral-98: #fef7ff;
    --md-sys-palette-neutral-99: #fffbff;
    --md-sys-palette-neutral-100: #fff;
    --md-sys-palette-primary-0: #000;
    --md-sys-palette-primary-10: #21005d;
    --md-sys-palette-primary-20: #381e72;
    --md-sys-palette-primary-30: #4f378b;
    --md-sys-palette-primary-40: #6750a4;
    --md-sys-palette-primary-50: #7f67be;
    --md-sys-palette-primary-60: #9a82db;
    --md-sys-palette-primary-70: #b69df8;
    --md-sys-palette-primary-80: #d0bcff;
    --md-sys-palette-primary-90: #eaddff;
    --md-sys-palette-primary-95: #f6edff;
    --md-sys-palette-primary-99: #fffbfe;
    --md-sys-palette-primary-100: #fff;
    --md-sys-palette-secondary-0: #000;
    --md-sys-palette-secondary-10: #1d192b;
    --md-sys-palette-secondary-20: #332d41;
    --md-sys-palette-secondary-30: #4a4458;
    --md-sys-palette-secondary-40: #625b71;
    --md-sys-palette-secondary-50: #7a7289;
    --md-sys-palette-secondary-60: #958da5;
    --md-sys-palette-secondary-70: #b0a7c0;
    --md-sys-palette-secondary-80: #ccc2dc;
    --md-sys-palette-secondary-90: #e8def8;
    --md-sys-palette-secondary-95: #f6edff;
    --md-sys-palette-secondary-99: #fffbfe;
    --md-sys-palette-secondary-100: #fff;
    --md-sys-palette-tertiary-0: #000;
    --md-sys-palette-tertiary-10: #31111d;
    --md-sys-palette-tertiary-20: #492532;
    --md-sys-palette-tertiary-30: #633b48;
    --md-sys-palette-tertiary-40: #7d5260;
    --md-sys-palette-tertiary-50: #986977;
    --md-sys-palette-tertiary-60: #b58392;
    --md-sys-palette-tertiary-70: #d29dac;
    --md-sys-palette-tertiary-80: #efb8c8;
    --md-sys-palette-tertiary-90: #ffd8e4;
    --md-sys-palette-tertiary-95: #ffecf1;
    --md-sys-palette-tertiary-99: #fffbfa;
    --md-sys-palette-tertiary-100: #fff;
}
